.login {
    background: #fff;
    border: 1px solid #258ae0;
    color: #258ae0;
}

.display {
    display: flex;
}

.center {
    align-items: center;
}

.post {
    border-radius: 4px;
    padding: 5px;
    border: 1px solid grey;
    margin-bottom: 10px
}
